@import 'tailwindcss';
@import './button.css';
@import './checkbox.css';

:root {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

body {
  background: white !important;
  color: black !important;
}

.light-text {
  font-weight: 300;
}
.regular-text {
  font-weight: 400;
}
.medium-text {
  font-weight: 500;
}
.semibold-text {
  font-weight: 600;
}
.bold-text {
  font-weight: 700;
}
